<!-- Toolbar -->
<div class="toolbar" role="banner">

    <div class="spacer"></div>
    <img width="240" alt="BuzzFeed" src="assets/img/logo.png" />

</div>

<div class="content" role="main">

    <!-- Highlight Card -->
    <div class="card highlight-card card-small">
        <span><h3>{{quizTitle}}</h3></span>
    </div>

    <!-- Quiz -->
    <div *ngIf="!fim" class="pergunta">
        <p>{{questaoSelecionada.question}}</p>
    </div>

    <h1 *ngIf="fim" class="resposta">{{respostaSelecionada}}</h1>

    <div class="card-container" *ngIf="!fim">
        <button class="card" *ngFor="let option of questaoSelecionada.options; index as i " (click)="escolha(option.alias)">
            <span class="optionId">{{option.id}}</span><span>{{option.name}}</span>
        </button>
    </div>

</div>