<!-- Toolbar -->
<div class="toolbar" role="banner">

    <div class="spacer"></div>
    <img width="240" alt="BuzzFeed" src="assets/img/logo.png" />

</div>

<div class="content" role="main">

    <!-- Highlight Card -->
    <div class="card highlight-card card-small">
        <span><h3> Você seria um herói ou vilão?</h3></span>
    </div>

    <!-- Quiz -->
    <div class="pergunta">
        <p>Here are some links to help you get started?</p>
    </div>

    <!-- <h1 class="resposta">Quiz</h1> -->

    <div class="card-container">
        <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
            <span>Learn Angular</span>
        </a>

        <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
            <span>CLI Documentation</span>
        </a>

        <a class="card" target="_blank" rel="noopener" href="https://material.angular.io">
            <span>Angular Material</span>
        </a>

        <a class="card" target="_blank" rel="noopener" href="https://blog.angular.io/">
            <span>Angular Blog</span>
        </a>

        <a class="card" target="_blank" rel="noopener" href="https://angular.io/devtools/">
            <span>Angular DevTools</span>
        </a>

    </div>

</div>